body {
  position:relative;
  font-size: 50px;
  font-family: monospace;
}

table, td {
  font-size: 50px;
  font-family: monospace;
  text-align: center;
  border: 1px black solid;
  border-collapse: collapse;
}

table {
  position: absolute;
  top: 100px;
  left:50%;
  margin-left: -100px;
  table-layout: fixed;
  width: 200px;
  height: 200px;
}

td {
  width: 33%;
  height: 33%;
}

div, button, input{
  font-size: 25px;
  font-family:monospace;
  text-align: center;
}

.container {
  width: 15%;
  padding: 25px 15px;
}

form {
  display: none;
}

#restart {
  position: absolute;
  left: 50%;
  top: 350px;
  margin-left: -60px;
}

.name, .token, .edit, form {
  padding: 5px;
}

#p1 {
  position:absolute;
  margin-left: 25%;
  top: 100px;
  left:0;
}

#p2 {
  position: absolute;
  margin-right: 25%;
  top: 100px;
  right: 0;
}

[data-my-turn="true"] {
  border: 4px solid rgb(172, 172, 255);
}

[winner="true"] {
  border: 4px solid white;
  background-color: rgb(172, 255, 172);
}